// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------



// Include theme-specific fonts
@font-face {
	font-family: 'League Gothic';
	src: url('../../lib/font/league_gothic-webfont.eot');
	src: url('../../lib/font/league_gothic-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../../lib/font/league_gothic-webfont.woff') format('woff'),
		 url('../../lib/font/league_gothic-webfont.ttf') format('truetype'),
		 url('../../lib/font/league_gothic-webfont.svg#LeagueGothicRegular') format('svg');

	font-weight: normal;
	font-style: normal;
}

@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);

html * {
	color-profile: sRGB;
	rendering-intent: auto;
}

// Solarized colors
$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;

// Override theme settings (see ../template/settings.scss)
$mainColor: $base1;
$headingColor: $base2;
$headingTextShadow: none;
$backgroundColor: $base03;
$linkColor: $blue;
$linkColorHover: lighten( $linkColor, 20% );
$selectionBackgroundColor: $magenta;

// Background generator
// @mixin bodyBackground() {
//	@include radial-gradient( $base03, $base02 );
//‚}



// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------


//// sirthias customizations

.reveal section img {
	margin: 15px 0px;
	background: none;
	border: none;
	box-shadow: none;

	-webkit-transition: all .2s linear;
	   -moz-transition: all .2s linear;
	    -ms-transition: all .2s linear;
	     -o-transition: all .2s linear;
	        transition: all .2s linear;
}

.reveal h2 { line-height: 1.5em; }
.reveal li { padding-top: 0.5em; }
.reveal li.no-bullet { list-style: none; margin-left: -1em; }
.reveal p { padding-top: 0.5em; }
.reveal emph { font-style: italic; }
.reveal pre { box-shadow: none; }
.reveal pre code { background: none; font-size: 1.2em; line-height: 1.1em; max-height: 420px; }
.reveal small i { vertical-align: baseline; }
