# SBT
boot/
lib_managed/
src_managed/
test-output/
target/
.history

# IntelliJ
.idea/
*.iml
*.ipr
*.iws
out/

# Eclipse
.cache
.classpath
.project
.scala_dependencies
.settings
.target/

# Mac
.DS_Store

# Other
*.pyc
