language: scala
script: 
  - sbt ++$TRAVIS_SCALA_VERSION compile test:compile
  - sbt ++$TRAVIS_SCALA_VERSION -Dakka.test.timefactor=1.5 'set concurrentRestrictions in Global += Tags.limit(Tags.Test, 1)' test
scala:
  - 2.10.1
jdk:
  - oraclejdk7
  - openjdk7
notifications:
  notifications:
    email:
      - johannes@spray.io
      - mathias@spray.io
