<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <pattern>%date{MM/dd HH:mm:ss} %-5level[%.15thread] %logger{50} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="site.user.IO-HTTP" level="INFO" />
    <logger name="akka.io.TcpListener" level="INFO" />

    <root level="DEBUG">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>