<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_FILE}</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${LOG_FILE}.%d{yyyy-MM-dd}.gz</fileNamePattern>

            <!-- keep one year worth of history -->
            <maxHistory>365</maxHistory>
        </rollingPolicy>

        <append>true</append>
        <encoder>
            <pattern>%date{MM/dd HH:mm:ss} %-5level[%.15thread] %logger{1} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="site.user.IO-HTTP" level="INFO" />
    <logger name="akka.io.TcpListener" level="INFO" />

    <root level="DEBUG">
        <appender-ref ref="FILE"/>
    </root>

</configuration>