body, p { font-size: 14px; }

.navbar .nav { margin-top: 60px; }
@media (min-width: 768px) and (max-width: 979px) {
    .navbar .nav { margin-top: 55px; }
}
@media (max-width: 767px) {
    .navbar .brand {
        background: url(/img/logo-small.png) no-repeat;
        background-position-x: 18px;
    }
}

header .smedia { top: 20px; }

footer .poweredBy { text-align: right; font-size: 12px; color: #bbb; }
.footerLower .copyright { font-size: 12px; color: #bbb; margin: 0; }
footer { margin-top: 45px; }
footer .footNav { text-align: center; }
.footerLower .footNav a, .footerLower .footNav span { float: none; }

.page-home .brand { opacity: 0.2; }

.hero .logo { padding-top: 7%; }
.hero .tagline { padding-top: 7%; }
.hero .tagline .action { padding-top: 0; margin-left: 15%; }
.hero .subtitle h2 { line-height: 36px; margin-top: 3%; margin-bottom: 3%; }

.featuredContent > div { margin-bottom: 0; }
.featuredContent h1 { margin-bottom: 25px; margin-left: 46px; text-indent: -46px; line-height: 20px; }
.featuredContent h1 span { text-indent: 0; }
.featuredContent p { font-size: 12px; }

.breadcrumb-row { margin-top: -40px; }
.breadcrumb { background: none; border: none; }

.nav-list > .active i { opacity: 0.6; }
.nav-list > .active > a > i { opacity: 1; }
.nav-list > li > a { padding-left: 35px; }
.nav-list > li > a > i { position: absolute; margin-left: -20px; }

.tooltip { z-index: 1035; }

pre { margin-bottom: 1em; white-space: pre; word-wrap: normal; overflow: auto; }

.section h1, .section h2, .section h3, .section p, .section li, .section dt, .section dd, .section table {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #515161;
    text-rendering: optimizelegibility;
}

.section h1 {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 0.5em;
    border-bottom: 1px solid #CCC;
}

.section h2 {
    font-size: 20px;
    line-height: 40px;
    margin-top: 1em;
    margin-bottom: 0.3em;
    font-weight: bold;
}

.section h3 {
    font-size: 16px;
    line-height: 40px;
    margin-top: 1em;
    margin-bottom: 0;
    font-weight: bold;
}

.section p, .section table { line-height: 20px; margin: 0 0 10px; }
.section li { line-height: 20px; margin: 0 0 10px; }
.section li > ul { margin-top: 10px; }
.section ul li { margin: 0; }
.section ul.wide > li { margin-top: 10px; }
.section ul li > ul { margin-top: 0; }
.section dt { line-height: 20px; }
.section dd { line-height: 20px; margin-left: 10px; margin-bottom: 10px; }
.section img { margin: 1em 0; }
.section table.field-list { text-align: left; }
.section th.field-name { padding-right: 5px; }
#changelog li { margin: 0; }
.section div.container { text-align: center; }
.section div.toctree-wrapper li { text-align: left; margin: 0; }

tt.literal {
    padding: 1px 2px;
    color: #368;
    background-color: #F0F3F7;
    border: 1px solid #DEE1E2;
    font-family: Menlo, Monaco, "Courier New", monospace;
    font-size: 12px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.admonition {
    padding: 8px 35px 8px 14px;
    margin-bottom: 18px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    border: 1px solid black;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #C09853;
}

.admonition tt.literal { background: none; border-color: #BBB; }

.admonition .admonition-title { font-weight: bold; margin: 0; }
.admonition.note { background-color: #D9EDF7; border-color: #BCE8F1; }
.admonition.note .admonition-title { color: #3A87AD; }
.admonition.caution { background-color: #F2DEDE; border-color: #EED3D7; }
.admonition.caution .admonition-title { color: #B94A48; }
.admonition.admonition-side-note { background-color: #DFF0D8; border-color: #D6E9C6; }
.admonition.admonition-side-note .admonition-title { color: #468847; }

